.place {
    display: grid;
    grid-template-columns: minmax(460px, 460px) 1fr;
    grid-template-rows: repeat(2, min-content);
    gap: 40px;
    padding-top: 80px;
}

.place:first-of-type {
    padding-top: 0;
}